.bilibili-step-button{
    width: 14.99rem;
    height: 2rem;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(251, 114, 153, 1);
    border-radius: 0.19rem;
    font-size: 0.81rem;
    text-align: center;
}